@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

@font-face {
  font-family: 'Clear Sans';
  src: url('ClearSans-Light-webfont.eot');
  src: url('ClearSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('ClearSans-Light-webfont.svg#clear_sans_lightregular') format('svg'),
    url('ClearSans-Light-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clear Sans';
  src: url('ClearSans-Regular-webfont.eot');
  src: url('ClearSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('ClearSans-Regular-webfont.svg#clear_sansregular') format('svg'),
    url('ClearSans-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clear Sans';
  src: url('ClearSans-Bold-webfont.eot');
  src: url('ClearSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('ClearSans-Bold-webfont.svg#clear_sansbold') format('svg'), url('ClearSans-Bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --bg-color: #faf8ef;
  --tile-size: 100px;
  --space: calc(var(--tile-size) / 17.5);
  --dark-text-color: #776e65;
  --light-text-color: #f9f6f2;
  --grid-color: #bbada0;
  --tile-color: #cdc1b4;
  --color-2: #eee4da;
  --color-4: #eee1c9;
  --color-8: #f3b27a;
  --color-16: #f69664;
  --color-32: #f77c5f;
  --color-64: #f75f3b;
  --color-128: #edd073;
  --color-256: #edcc62;
  --color-512: #edc950;
  --color-1024: #edc53f;
  --color-2048: #edc22e;
  --color-big: #e2b41c;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Clear Sans', 'Roboto', Arial, sans-serif;
  font-size: calc(var(--tile-size) / 2);
  font-weight: 700;

  background-color: var(--bg-color);
}

p {
  margin: 0;
}

.wrap {
  display: flex;
  flex-direction: column;

  padding: 10px;

  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.title {
  display: flex;
  justify-content: space-between;

  margin: auto;
  min-width: calc(4 * var(--tile-size) + 9 * var(--space));

  font-size: 70px;
  color: var(--dark-text-color);
}

.scores {
  display: flex;
}

.score {
  position: relative;
  height: 50px;
  width: 100px;
  margin: 4px;

  font-size: 25px;
  text-align: center;
  line-height: 65px;

  border-radius: 5px;
  background-color: var(--grid-color);
  color: var(--light-text-color);
}

.score::after {
  position: absolute;
  left: 28px;

  text-transform: uppercase;
  content: 'Score';
  font-size: 13px;
  line-height: 30px;
}

.highscore::after {
  left: 17px;
  content: 'Highscore';
}

.controls {
  display: flex;
  justify-content: flex-end;
  height: 40px;
  min-width: calc(4 * var(--tile-size) + 9 * var(--space));
  margin: 5px auto;
}

.btn {
  margin: 2px;
  right: 0;
  padding: 6px 14px;

  cursor: pointer;
  color: var(--light-text-color);
  background-color: var(--dark-text-color);
  outline: none;
  border-radius: 6px;

  font-family: 'Clear Sans', 'Roboto', Arial, sans-serif;
  font-size: 18px;
}

.game {
  position: relative;
  margin: auto;
}

.endScreen {
  display: flex;
  justify-content: center;

  visibility: hidden;
  opacity: 0%;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding-top: 155px;
  text-align: center;
  border-radius: 10px;
  color: var(--dark-text-color);

  -webkit-transition: opacity ease 0.5s, visibility ease 0.5s;
  -moz-transition: opacity ease 0.5s, visibility ease 0.5s;
  -o-transition: opacity ease 0.5s, visibility ease 0.5s;
  transition: opacity ease 0.5s, visibility ease 0.5s;
}

.gameOver {
  background: rgb(238, 228, 218, 0.79);
}

.youWin {
  background: rgb(203, 198, 103, 0.79);
}

.gameOver > .btn,
.youWin > .btn {
  font-size: 30px;
}

.btn {
  margin: 2px;
  right: 0;
  padding: 6px 14px;
  cursor: pointer;
  color: var(--light-text-color);
  background-color: var(--dark-text-color);
  outline: none;
  border-radius: 6px;
  font-family: 'Clear Sans', 'Roboto', Arial, sans-serif;
  font-size: 18px;
}

.grid {
  display: grid;
  padding: var(--space);
  grid-template-columns: repeat(4, 1fr);

  background-color: var(--grid-color);
  border-radius: 10px;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;

  width: var(--tile-size);
  height: var(--tile-size);

  border-radius: 9%;
  -webkit-transition: transform ease-out 100ms;
  -moz-transition: transform ease-out 100ms;
  -o-transition: transform ease-out 100ms;
  transition: transform ease-out 100ms;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;

  width: var(--tile-size);
  height: var(--tile-size);
  margin: var(--space);

  background-color: var(--tile-color);
  border-radius: 9%;
}

/* ANIMATIONS */

.newTile {
  -webkit-animation: newTile 100ms ease;
  -moz-animation: newTile 100ms ease;
  -o-animation: newTile 100ms ease;
  animation: newTile 100ms ease;
}

@keyframes newTile {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.mergedTile {
  -webkit-animation: mergedTile 100ms ease;
  -moz-animation: mergedTile 100ms ease;
  -o-animation: mergedTile 100ms ease;
  animation: mergedTile 100ms ease;
}

@keyframes mergedTile {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}

.error {
  -webkit-animation: error 300ms ease;
  -moz-animation: error 300ms ease;
  -o-animation: error 300ms ease;
  animation: error 300ms ease;
}

@keyframes error {
  0% {
    transform: translateX(-5px);
  }
  12.5% {
    transform: translateX(5px);
  }
  25% {
    transform: translateX(-5px);
  }
  37.5% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  62.5% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  87.5% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

/* COLORS */

.t2 {
  color: var(--dark-text-color);
  background-color: var(--color-2);
}

.t4 {
  color: var(--dark-text-color);
  background-color: var(--color-4);
}

.t8 {
  color: var(--light-text-color);
  background-color: var(--color-8);
}

.t16 {
  color: var(--light-text-color);
  background-color: var(--color-16);
}

.t32 {
  color: var(--light-text-color);
  background-color: var(--color-32);
}

.t64 {
  color: var(--light-text-color);
  background-color: var(--color-64);
}

.t128 {
  color: var(--light-text-color);
  background-color: var(--color-128);
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.2380952381), inset 0 0 0 1px rgba(255, 255, 255, 0.1428571429);
  font-size: 45px;
}

.t256 {
  color: var(--light-text-color);
  background-color: var(--color-256);
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.3174603175), inset 0 0 0 1px rgba(255, 255, 255, 0.1904761905);
  font-size: 45px;
}

.t512 {
  color: var(--light-text-color);
  background-color: var(--color-512);
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.3968253968), inset 0 0 0 1px rgba(255, 255, 255, 0.2380952381);
  font-size: 45px;
}

.t1024 {
  color: var(--light-text-color);
  background-color: var(--color-1024);
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.4761904762), inset 0 0 0 1px rgba(255, 255, 255, 0.2857142857);
  font-size: 35px;
}

.t2048 {
  color: var(--light-text-color);
  background-color: var(--color-2048);
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.5555555556), inset 0 0 0 1px rgba(255, 255, 255, 0.3333333333);
  font-size: 35px;
}

.t4096 {
  color: var(--light-text-color);
  background-color: var(--color-big);
  box-shadow: 0 0 30px 10px rgba(255, 227, 128, 0.6), inset 0 0 0 1px rgba(255, 255, 255, 0.3333333333);
  font-size: 35px;
}

.tbig {
  color: var(--light-text-color);
  background-color: var(--color-big);
  box-shadow: 0 0 30px 10px rgba(255, 227, 128, 0.6), inset 0 0 0 1px rgba(255, 255, 255, 0.3333333333);
  font-size: 25px;
}

@media screen and (max-width: 520px) {
  :root {
    --tile-size: 20vw;
    --space: 4px;
  }

  .controls {
    width: 100%;
  }

  .title {
    width: 100%;
    font-size: 55px;
  }

  .score {
    width: 25vw;
  }

  .cell {
    width: 70px;
    height: 70px;
  }

  .tile {
    font-size: 48px;
    width: 100%;
    height: 100%;
  }

  .endScreen {
    padding-top: 100px;
  }

  .t128 {
    font-size: 34px;
  }

  .t256 {
    font-size: 34px;
  }

  .t512 {
    font-size: 34px;
  }

  .t1024 {
    font-size: 25px;
  }

  .t2048 {
    font-size: 25px;
  }

  .t4096 {
    font-size: 25px;
  }

  .tbig {
    font-size: 20px;
  }
}
